{{- if not .Values.secretKeyRefNameOverride }}
{{- $isAruba := eq .Values.cloudProvider "aruba" }}

{{- if $isAruba }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "cluster-autoscaler.fullname" . }}
  namespace: {{ .Release.Namespace }}
data:
{{- if $isAruba }}
{{- if .Values.arubaTokenEndpointOverride }}
  token-url: "{{ .Values.arubaTokenEndpointOverride | b64enc }}"
{{- end }}
  client-id: "{{ .Values.arubaClientID | b64enc }}"
  client-secret: "{{ .Values.arubaClientSecret | b64enc }}"
  project-id: "{{ .Values.arubaProjectID | b64enc }}"
{{- if .Values.arubaClientURLOverride }}
  client-url: "{{ .Values.arubaClientURLOverride | b64enc }}"
{{- end }}
  cluster-id: "{{ .Values.arubaClusterID | b64enc }}"
  region: "{{ .Values.arubaRegion | b64enc }}"
{{- end }}
{{- end }}
{{- end }}
