# Default values for arubacloud-resource-operator

# CRDs installation
crds:
  enabled: true  # Set to false if CRDs are already installed or managed separately

config:
  gateway: https://api.arubacloud.com
  auth:
    idp: https://login.aruba.it/auth
    realm: cmp-new-apikey
    mode: single 
    single:
      clientId: ""
      clientSecret: ""
    multi:
      vault:
        address: http://vault0.default.svc.cluster.local:8200
        kvMount: kw
        rolePath: approle 
        roleId: ""
        roleSecret: ""

controller:
  manager:
    args:
    - --metrics-bind-address=:8443
    - --leader-elect
    - --health-probe-bind-address=:8081
    - --config-map-name=$(CONFIG_MAP_NAME)
    - --secret-name=$(SECRET_NAME)
    - --namespace=$(POD_NAMESPACE)
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: ha.t0xe7uh231qhhb7.itbg.svc40.mycloudplatform.cloud/arubacloud/resource-operator
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  nodeSelector: {}
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  replicas: 1
  tolerations: []
  topologySpreadConstraints: []
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
serviceAccount:
  annotations: {}
  automount: true
  create: true
  name: ""
