apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "operator.config" . }}
  labels:
  {{- include "operator.labels" . | nindent 4 }}
data:
  api-gateway: {{ .Values.controllerManager.apiGateway | quote }}
  keycloak-url: {{ .Values.controllerManager.keycloakUrl | quote }}
  kv-mount: {{ .Values.controllerManager.kvMount | quote }}
  realm-api: {{ .Values.controllerManager.realmApi | quote }}
  role-path: {{ .Values.controllerManager.rolePath | quote }}
  vault-enabled: {{ .Values.controllerManager.vaultIsEnabled | quote }}
  vault-address: {{ .Values.controllerManager.vaultAddress | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "operator.config" . }}
  labels:
  {{- include "operator.labels" . | nindent 4 }}
data:
{{- if not .Values.controllerManager.vaultIsEnabled }}
  client-id: {{ required "controllerManager.clientId is required when vault is not enabled" .Values.controllerManager.clientId | b64enc | quote }}
  client-secret: {{ required "controllerManager.clientSecret is required when vault is not enabled" .Values.controllerManager.clientSecret | b64enc | quote }}
{{- end }}
{{- if .Values.controllerManager.vaultIsEnabled }}
  role-id: {{ required "controllerManager.roleId is required when vault is enabled" .Values.controllerManager.roleId | b64enc | quote }}
  role-secret: {{ required "controllerManager.roleSecret is required when vault is enabled" .Values.controllerManager.roleSecret | b64enc | quote }}
{{- end }}
type: Opaque
