apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "operator.config" . }}
  labels:
  {{- include "operator.labels" . | nindent 4 }}
data:
  api-gateway: {{ .Values.config.gateway | quote }}
  keycloak-url: {{ .Values.config.auth.idp | quote }}
  realm-api: {{ .Values.config.auth.realm | quote }}
{{- if eq .Values.config.auth.mode "multi" }}
  kv-mount: {{ .Values.config.auth.multi.vault.kvMount | quote }}
  role-path: {{ .Values.config.auth.multi.vault.rolePath | quote }}
  vault-enabled: "true"
  vault-address: {{ .Values.config.auth.multi.vault.address | quote }}
{{- else }}
  vault-enabled: "false"
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "operator.config" . }}
  labels:
  {{- include "operator.labels" . | nindent 4 }}
data:
{{- if eq .Values.config.auth.mode "single" }}
  client-id: {{ required "config.auth.single.clientId is required when mode is 'single'" .Values.config.auth.single.clientId | b64enc | quote }}
  client-secret: {{ required "config.auth.single.clientSecret is required when mode is 'single'" .Values.config.auth.single.clientSecret | b64enc | quote }}
{{- else if eq .Values.config.auth.mode "multi" }}
  role-id: {{ required "config.auth.multi.vault.roleId is required when mode is 'multi'" .Values.config.auth.multi.vault.roleId | b64enc | quote }}
  role-secret: {{ required "config.auth.multi.vault.roleSecret is required when mode is 'multi'" .Values.config.auth.multi.vault.roleSecret | b64enc | quote }}
{{- end }}
type: Opaque
